body{
    background-color: blanchedalmond;
}

p{
    color: black;
    text-transform:capitalize;
    text-decoration:dashed;
    text-shadow: 10cm;
    
}

h4{
    color: rgb(0, 0, 0);
    text-align: center;
}

h1{
    color: burlywood;
    text-align: center;
}
h2{
    color: rgb(0, 0, 0);
    text-align: center;
}
h3{
    
    color: rgb(1, 1, 1);
    text-align: center;
}
     
